.video-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.onevi {
    display: block;
    width: 50%;
    height: 50%;
    outline: none;
    object-fit: contain;
}

.video {
    display: block;
    outline: none;
    object-fit: contain;
    width: 98%;
}

.pcontainer {
    width: 100%;
    position: relative;
}

.ellipse-4 {
    background: radial-gradient( closest-side, rgba(250, 142, 43, 0.25) 0%, rgba(255, 203, 156, 0) 100%);
    border-radius: 50%;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 30%;
    right: 0;
    filter: blur(4.5px);
}

/* 
.gradient{
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: 3;
  display: flex;
  gap:10rem;
} */

.ellipse-5 {
    background: radial-gradient( closest-side, rgba(250, 142, 43, 0.25) 0%, rgba(255, 203, 156, 0) 100%);
    border-radius: 50%;
    /* width: 90rem;
  height: auto; */
    width: 50%;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    filter: blur(4.5px);
    z-index: 3;
}

.earn-your-reward-fun-and-informed-purchase {
    box-sizing: border-box;
    color: #3d3d3d;
    text-align: center;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 3rem;
    line-height: 4.6rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.fcontainer {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: top;
    justify-content: space-evenly;
    position: relative;
    z-index: 3;
}

.top1,
.top2 {
    width: 20%;
}

.section-container {
    align-content: center;
    display: flex;
    margin-top: 90px;
    align-items: center;
    height: auto;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    z-index: 2;
}

.button {
    padding: 15px 60px;
    font-size: 24px;
    font-weight: 500;
    color: #ffff;
    border-width: 0px;
    background-color: rgb(239, 104, 19);
    border-radius: 27px;
    text-decoration: none;
}

.button:hover {
    background-color: #F76F32;
    cursor: pointer;
}

.through-videos-and-soon-ai-span,
.through-videos-and-soon-ai-span5 {
    color: #3d3d3d;
    font-family: "GilroyMedium-☞", sans-serif;
    font-size: 32px;
    line-height: 30px;
    font-weight: 400;
}

.through-videos-and-soon-ai-span3,
.through-videos-and-soon-ai-span6 {
    color: #f76f32;
    font-family: "GilroyBold-☞", sans-serif;
    font-size: 32px;
    line-height: 6rem;
    font-weight: 400;
}

.topi {
    width: 16%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
}

.topj {
    width: 16%;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
}

.spere1 {
    width: 150px;
    height: 150px;
    /* background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.25) 0%, rgba(255, 203, 156, 0.00) 100%); */
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.spere2 {
    width: 150px;
    height: 150px;
    /* background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.25) 0%, rgba(255, 203, 156, 0.00) 100%); */
    filter: blur(4.5px);
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 1025px) {
    .topi,
    .topj,
    .spere1,
    .spere2 {
        display: none;
    }
    .onevi {
        display: none;
    }
}

@media only screen and (min-width: 1216px) {
    .through-videos-and-soon-ai-1 {
        display: none;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1215px) {
    .through-videos-and-soon-ai-1 {
        display: none;
    }
    .through-videos-and-soon-ai-span,
    .through-videos-and-soon-ai-span3 {
        text-align: center;
        font-family: Gilroy-Medium, sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3rem;
        text-transform: capitalize;
    }
    .button {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 781px) and (max-width: 1024px) {
    .top1,
    .top2 {
        display: none;
    }
    .video {
        display: none;
    }
    .topj {
        width: 8%;
    }
    .topi {
        width: 18%;
    }
    .through-videos-and-soon-ai {
        display: none;
    }
    .through-videos-and-soon-ai-span {
        text-align: center;
        font-family: Gilroy-Medium, sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3rem;
        text-transform: capitalize;
    }
    .through-videos-and-soon-ai-span3 {
        text-align: center;
        font-family: Gilroy-Medium, sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        text-transform: capitalize;
    }
    .button {
        margin-top: 2rem;
    }
    .earn-your-reward-fun-and-informed-purchase {
        color: #3D3D3D;
        text-align: center;
        font-variant-numeric: stacked-fractions;
        font-family: Gilroy-Bold, sans-serif;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 3.6rem;
    }
}

@media only screen and (min-width:451px) and (max-width: 780px) {
    .top1,
    .top2 {
        display: none;
    }
    .earn-your-reward-fun-and-informed-purchase {
        color: #3D3D3D;
        text-align: center;
        font-variant-numeric: stacked-fractions;
        font-family: Gilroy-Bold, sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.2rem;
        margin-top: 0.6rem;
    }
    .section-container {
        margin-top: 10%;
    }
    .button {
        margin-top: 1rem;
        display: flex;
        font-size: 16px;
        width: 170px;
        height: 45px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        cursor: pointer;
    }
    .through-videos-and-soon-ai {
        display: none;
    }
    .through-videos-and-soon-ai-span {
        color: #3D3D3D;
        text-align: center;
        font-family: Gilroy-Medium, sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3rem;
        text-transform: capitalize;
    }
    .through-videos-and-soon-ai-span3 {
        color: #F76F32;
        font-family: Gilroy-Bold, sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        text-transform: capitalize;
    }
    .through-videos-and-soon-ai {
        padding: 2%;
    }
    .video {
        display: none;
    }
}

@media only screen and (min-width:351px) and (max-width: 450px) {
    .top1,
    .top2 {
        display: none;
    }
    .earn-your-reward-fun-and-informed-purchase {
        color: #3D3D3D;
        text-align: center;
        font-variant-numeric: stacked-fractions;
        font-family: Gilroy-Bold, sans-serif;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.6rem;
        padding-top: 1rem;
    }
    .ellipse-4,
    .ellipse-5 {
        display: none;
    }
    .section-container {
        margin-top: 10%;
    }
    .topi {
        width: 16%;
        height: 30%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 10px;
    }
    .topj {
        width: 14%;
        height: 20%;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 10px;
    }
    .spere1 {
        width: 150px;
        height: 150px;
        /* background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.25) 0%, rgba(255, 203, 156, 0.00) 100%); */
        background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.50) 0%, rgba(255, 203, 156, 0.00) 100%);
        position: absolute;
        top: 0;
        left: 0;
    }
    .spere2 {
        width: 150px;
        height: 150px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.25) 0%, rgba(255, 203, 156, 0.00) 100%);
        /* background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.25) 0%, rgba(255, 203, 156, 0.00) 100%); */
        background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.50) 0%, rgba(255, 203, 156, 0.00) 100%);
        filter: blur(4.5px);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .button {
        margin-top: 1rem;
        display: flex;
        font-size: 16px;
        width: 170px;
        height: 40px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }
    .through-videos-and-soon-ai {
        display: none;
    }
    .through-videos-and-soon-ai-span {
        color: #3D3D3D;
        text-align: center;
        font-family: Gilroy-Medium, sans-serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3rem;
        text-transform: capitalize;
    }
    .through-videos-and-soon-ai-span3 {
        color: #F76F32;
        font-family: Gilroy-Bold, sans-serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
        text-transform: capitalize;
    }
    .through-videos-and-soon-ai {
        padding: 2%;
    }
    .onevi {
        width: 100%;
        height: 80%;
    }
    .video {
        display: none;
    }
}

@media only screen and (max-width:350px) {
    .top1,
    .top2 {
        display: none;
    }
    .earn-your-reward-fun-and-informed-purchase {
        color: #3D3D3D;
        text-align: center;
        font-variant-numeric: stacked-fractions;
        font-family: Gilroy-Bold, sans-serif;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
        margin: auto;
    }
    .ellipse-4,
    .ellipse-5 {
        display: none;
    }
    .section-container {
        margin-top: 10%;
    }
    .topi {
        width: 16%;
        height: 20%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 10px;
    }
    .topj {
        width: 14%;
        height: 20%;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 10px;
    }
    .spere1 {
        width: 150px;
        height: 150px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.25) 0%, rgba(255, 203, 156, 0.00) 100%);
        position: absolute;
        top: 0;
        left: 0;
    }
    .spere2 {
        width: 150px;
        height: 150px;
        /* background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.25) 0%, rgba(255, 203, 156, 0.00) 100%); */
        background: radial-gradient(50% 50% at 50% 50%, rgba(250, 142, 43, 0.50) 0%, rgba(255, 203, 156, 0.00) 100%);
        filter: blur(4.5px);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .button {
        display: flex;
        font-size: 16px;
        width: 162px;
        height: 35px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        margin-top: 1rem;
    }
    .through-videos-and-soon-ai {
        display: none;
    }
    .through-videos-and-soon-ai-span {
        color: #3D3D3D;
        text-align: center;
        font-family: Gilroy-Medium, sans-serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 540;
        line-height: 2rem;
        text-transform: capitalize;
    }
    .through-videos-and-soon-ai-span3,
    .through-videos-and-soon-ai-span6 {
        color: #F76F32;
        font-family: Gilroy-Bold, sans-serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        text-transform: capitalize;
    }
    .through-videos-and-soon-ai {
        padding: 2%;
    }
    .onevi {
        width: 100%;
        height: 80%;
    }
    .video {
        display: none;
    }
}